{% extends 'index.html' %} {% block content %}
<div class="container">
  <div class="card text-center my-4">
    <div class="card-body">
      <h3 class="card-title">Welcome to Blogs!</h3>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a href={% url 'blog_form' %} class="btn btn-primary">Write a Blog</a>
    </div>
  </div>

  <div class="row">
    <h3 class="mb-3">My Blogs</h3>
    {% for blog in blogs %}

    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">{{blog.content | truncatechars:100}}</p>

          <a href="/delete_blog/{{blog.id}}" class="btn btn-danger">
            <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
            Delete
        </a>
          
        </div>
        <div class="card-footer text-muted">
            Created at: {{blog.created_at}}
          </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock content %}
