{% extends 'index.html' %} {% block content %}
<div
  class="container mt-4 p-2 d-flex align-items-center justify-content-center"
>
  <div class="card p-4 w-50">
    <form class="" method="post">
      {% csrf_token %}
      <h4>Change password</h4>
      <input type="hidden" name="user_id" value="{{user_id}}">
      <div class="mb-3">
        <label for="new_password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="new_password"
          name="new_password"
        />
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="confirm_password"
          name="confirm_password"
        />
      </div>
      <div class="mb-3">
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Reset</button>
    </form>
  </div>
</div>

{% endblock content %}
