<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container px-4">
    <a class="navbar-brand" href="/">News & Blogs</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
      </ul>

      <a href="/logout">
        <button class="btn btn-danger me-2" type="button">Logout</button></a
      >

      {% else %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <a href="/login">
        <button class="btn btn-success me-4" type="button">Login</button>
      </a>

      <a href="/signup">
        <button class="btn btn-success me-2" type="button">Sign up</button></a
      >
      {% endif %}
    </div>
  </div>
</nav>
