{% extends 'index.html' %} {% block content %}
<div
  class="container mt-4 p-2 d-flex align-items-center justify-content-center"
>
  <div class="card p-4 w-50">
    <form class="" method="post" action="/signup/">
      {% csrf_token %}
      <h4>Hey! Let's create an Account</h4>
      <div class="mb-3 mt-3">
        <label for="s-username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="s-username"
          name="s-username"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="s-email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="s-email"
          name="s-email"
        />
      </div>
      <div class="mb-3">
        <label for="s-password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="s-password"
          name="s-password"
        />
      </div>
      <div class="mb-3">
        <label for="confirm-password" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="confirm-password"
          name="confirm-password"
        />
      </div>
      <div class="mb-3">
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <p class="mt-4">
        Already have an account?
        <a
          href="/login"
          style="color: black !important; text-decoration: underline !important"
          >Login</a
        >
      </p>
    </form>
  </div>
</div>

{% endblock content %}
